body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
}

div {
    font-family: sans-serif;
    line-height: 1.2;
}

#title {
    font-size: 8rem;
}

#subtitle {
    font-size: 3rem;
}

#current_player {
    font-size: 2rem;
}

#error {
    font-size: 2rem;
    color: darkred;
}